# Ignore Compiled Java files
*.class
bin/
out/

# Ignore IDE specific files
.settings/
.project
.classpath
.vscode/
.idea/

# Ignore Local Data (Team members should create their own)
data/*.txt
users.txt

# Ignore OS-specific files
.DS_Store